L'objectif est de prédire le vainqueur d'un match de tennis à partir des données de matchs de tennis ayant eu lieu entre 1950 et 2024.

## Imports

In [3]:
import pandas as pd
import seaborn as sns
import os
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import RFE
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score,balanced_accuracy_score
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.metrics import confusion_matrix
import xgboost as xgb
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE
from sklearn.metrics import classification_report
from imblearn.ensemble import BalancedRandomForestClassifier
import requests
from bs4 import BeautifulSoup
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
import requests
from bs4 import BeautifulSoup
import random
np.set_printoptions(threshold=np.inf)

In [280]:
directory = '/Users/stanislas/Downloads/To-Import-Model'

dfs = []

for filename in os.listdir(directory):
    if filename.endswith(".csv"): 
        filepath = os.path.join(directory, filename)
        data = pd.read_csv(filepath)
        dfs.append(data)

df = pd.concat(dfs, ignore_index=True)

In [281]:
#Players information
players = pd.read_csv('atp_players.csv')

In [282]:
#Top500 references
top500=pd.read_excel('Top500-Modified.xlsx')

## DF reprocessing

### Basic information

In [283]:
df.dtypes

tourney_id             object
tourney_name           object
surface                object
draw_size             float64
tourney_level          object
tourney_date            int64
match_num               int64
winner_id               int64
winner_seed           float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
loser_id                int64
loser_seed            float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
score                  object
best_of                 int64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
winner_rank           float64
winner_rank_points    float64
loser_rank            float64
loser_rank_points     float64
dtype: object

In [284]:
df.describe()

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,loser_id,loser_seed,loser_ht,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,191085.000000,1.919200e+05,191920.000000,191920.000000,70926.000000,175012.000000,190609.000000,191920.000000,36099.000000,162257.000000,...,95034.000000,95034.000000,95034.000000,95035.000000,95034.000000,95034.000000,156159.000000,108936.000000,147788.000000,107308.000000
mean,53.088479,1.993711e+07,79.398656,104499.014537,6.308279,184.491618,25.670153,105686.966012,7.711017,184.261696,...,48.089421,31.962361,14.972936,12.206229,4.808942,8.730570,75.246960,1375.909663,112.905710,865.976908
std,36.645414,1.581156e+05,111.963129,13664.799449,5.547887,6.672384,4.053105,16655.971639,6.055301,6.658745,...,19.378619,14.447415,7.207299,4.131171,3.275134,4.132557,120.956559,1729.720178,162.603579,993.837316
min,2.000000,1.967123e+07,1.000000,100001.000000,1.000000,160.000000,14.300000,100001.000000,1.000000,160.000000,...,0.000000,0.000000,0.000000,0.000000,-6.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,32.000000,1.980051e+07,11.000000,100417.000000,2.000000,180.000000,22.700000,100523.000000,4.000000,180.000000,...,34.000000,22.000000,10.000000,9.000000,2.000000,6.000000,17.000000,494.000000,37.000000,365.000000
50%,32.000000,1.993052e+07,25.000000,101733.000000,5.000000,185.000000,25.300000,101900.000000,6.000000,185.000000,...,45.000000,30.000000,14.000000,11.000000,4.000000,8.000000,45.000000,850.000000,70.000000,635.000000
75%,64.000000,2.007032e+07,94.000000,103990.000000,8.000000,188.000000,28.200000,104338.000000,10.000000,188.000000,...,58.000000,40.000000,19.000000,15.000000,7.000000,11.000000,86.000000,1540.000000,118.000000,1015.000000
max,128.000000,2.023113e+07,1701.000000,212428.000000,35.000000,211.000000,58.700000,212437.000000,35.000000,211.000000,...,328.000000,284.000000,101.000000,91.000000,28.000000,38.000000,2101.000000,16950.000000,2159.000000,16950.000000

In [285]:
df.isna().sum()

tourney_id                 0
tourney_name               0
surface                 2990
draw_size                835
tourney_level              0
tourney_date               0
match_num                  0
winner_id                  0
winner_seed           120994
winner_entry          175177
winner_name                0
winner_hand               12
winner_ht              16908
winner_ioc                 8
winner_age              1311
loser_id                   0
loser_seed            155821
loser_entry           163496
loser_name                 0
loser_hand                49
loser_ht               29663
loser_ioc                 72
loser_age               4657
score                      9
best_of                    0
round                      0
minutes                99653
w_ace                  96885
w_df                   96886
w_svpt                 96886
w_1stIn                96886
w_1stWon               96886
w_2ndWon               96886
w_SvGms                96885
w_bpSaved              96886
w_bpFaced              96886
l_ace                  96886
l_df                   96885
l_svpt                 96886
l_1stIn                96886
l_1stWon               96886
l_2ndWon               96886
l_SvGms                96885
l_bpSaved              96886
l_bpFaced              96886
winner_rank            35761
winner_rank_points     82984
loser_rank             44132
loser_rank_points      84612
dtype: int64

### Keep only significant columns

In [286]:
df = df[['tourney_id','tourney_name','surface','draw_size','tourney_level','tourney_date',
         'match_num','winner_id','winner_hand','winner_ht','winner_age','loser_id','loser_hand',
        'loser_ht','loser_age','best_of','round','winner_rank','loser_rank','winner_rank_points','loser_rank_points']]

## Data Format

### Datetime format for tourney_date

In [287]:
df['tourney_date']=df['tourney_date'].fillna(0)

df['date_str'] = df['tourney_date'].astype(int).astype(str)

def convert_to_date(date_str):
    try:
        return pd.to_datetime(date_str, format='%Y%m%d').strftime('%Y-%m-%d')
    except ValueError:
        return None  
        
# tourney_date should get date format
df['tourney_date'] = df['date_str'].apply(convert_to_date)

# We do not need the date string column anymore
df.drop(columns=['date_str'], inplace=True)

### Reducing values in the column tourney_name

In [288]:
sorted(df['tourney_name'].unique())

['ATP Rio de Janeiro',
 'Aberavon',
 'Acapulco',
 'Adelaide',
 'Adelaide 1',
 'Adelaide 2',
 'Adelaide-2',
 'Aix en Provence',
 'Aix-en-Provence',
 'Alamo WCT',
 'Albany',
 'Algiers',
 'Amersfoort',
 'Amsterdam',
 'Amsterdam WCT',
 'Anaheim',
 'Ancona',
 'Antalya',
 'Antwerp',
 'Aptos',
 'Astana',
 'Athens',
 'Athens Olympics',
 'Atlanta',
 'Atlanta Olympics',
 'Atlanta WCT',
 'Atp Cup',
 'Auckland',
 'Australian Chps.',
 'Australian Open',
 'Australian Open-2',
 'Australian Round Robin',
 'Aviles',
 'Bahia',
 'Bakersfield WCT',
 'Baltimore',
 'Baltimore WCT',
 'Bangalore',
 'Bangkok',
 'Banja Luka',
 'Barcelona',
 'Barcelona 2',
 'Barcelona Nationals',
 'Barcelona Olympics',
 'Barcelona WCT',
 'Bari',
 'Barranquilla',
 'Basel',
 'Bastad',
 'Bastad 1',
 'Bastad WCT',
 'Beckenham',
 'Beijing',
 'Beijing Olympics',
 'Belgrade',
 'Belgrade ',
 'Belgrade 2',
 'Berkeley',
 'Berlin',
 'Bermuda',
 'Binghamton',
 'Binghamton NTL',
 'Birmingham',
 'Birmingham WCT',
 'Bloemfontein',
 'Boca Raton',
 'Boca West',
 'Bogota',
 'Bogota NTL',
 'Bologna',
 'Bologna WCT',
 'Bolzano',
 'Bombay',
 'Bordeaux',
 'Boston',
 'Boston 1',
 'Boston 2',
 'Boston WCT',
 'Bournemouth',
 'Brasilia',
 'Bremen Indoors',
 'Bretton Woods',
 'Brighton',
 'Brisbane',
 'Bristol',
 'Brussels',
 'Brussels WCT',
 'Bucharest',
 'Budapest',
 'Buenos Aires',
 'Buenos Aires NTL',
 'Buffalo',
 'Buffalo WCT',
 'Buzios',
 'Cagliari',
 'Cairo',
 'Calcutta',
 'Calgary',
 'Cambridge',
 'Canada Masters',
 'Cannes',
 'Cannes Chps',
 'Cannes WCT',
 "Cap D'Adge WCT",
 'Cape Town',
 'Cape Town WCT',
 'Caracas',
 'Caracas WCT',
 'Casablanca',
 'Casablanca WCT',
 'Catania',
 'Cedar Grove',
 'Champions Classic',
 'Charleston',
 'Charlotte',
 'Charlotte WCT',
 'Chengdu',
 'Chennai',
 'Chicago',
 'Chicago WCT',
 'Chicago-2 WCT',
 'Christchurch',
 'Cincinnati',
 'Cincinnati Masters',
 'Cleveland',
 'Cleveland WCT',
 'Cologne',
 'Cologne 1',
 'Cologne 2',
 'Cologne WCT',
 'Colombus',
 'Columbia',
 'Columbus',
 'Columbus WCT',
 'Concord Indoors',
 'Copenhagen',
 'Copenhagen WCT',
 'Coral Springs',
 'Cordoba',
 'Corpus Christi',
 'Corpus Christi NTL',
 'Costa Do Sauipe',
 'Curacao',
 'Dallas',
 'Dallas WCT',
 'Davis Cup AFR QF: ALG vs CIV',
 'Davis Cup AFR QF: CIV vs NGR',
 'Davis Cup AFR QF: KEN vs ZIM',
 'Davis Cup AFR QF: MAR vs KEN',
 'Davis Cup AFR QF: MEX vs KOR',
 'Davis Cup AFR QF: SEN vs ALG',
 'Davis Cup AFR QF: SEN vs NGR',
 'Davis Cup AFR QF: ZIM vs LBA',
 'Davis Cup AFR R1: CIV vs TUN',
 'Davis Cup AFR R1: SEN vs MAR',
 'Davis Cup AFR R1: TUN vs NGR',
 'Davis Cup AFR SF: ALG vs NGR',
 'Davis Cup AFR SF: NZL vs KOR',
 'Davis Cup AFR SF: SEN vs EGY',
 'Davis Cup AFR SF: ZIM vs MAR',
 'Davis Cup AFR SF: ZIM vs NGR',
 'Davis Cup AME F: ARG vs USA',
 'Davis Cup AME F: BRA vs CAN',
 'Davis Cup AME F: BRA vs ECU',
 'Davis Cup AME F: BRA vs MEX',
 'Davis Cup AME F: CAN vs COL',
 'Davis Cup AME F: CAN vs NZL',
 'Davis Cup AME F: CAN vs PAR',
 'Davis Cup AME F: CHI vs ARG',
 'Davis Cup AME F: CHI vs BRA',
 'Davis Cup AME F: CHI vs RSA',
 'Davis Cup AME F: COL vs USA',
 'Davis Cup AME F: COL vs VEN',
 'Davis Cup AME F: ECU vs BRA',
 'Davis Cup AME F: JPN vs AUS',
 'Davis Cup AME F: JPN vs PHI',
 'Davis Cup AME F: MEX vs AUS',
 'Davis Cup AME F: MEX vs BRA',
 'Davis Cup AME F: MEX vs NZL',
 'Davis Cup AME F: MEX vs USA',
 'Davis Cup AME F: USA vs ARG',
 'Davis Cup AME F: USA vs COL',
 'Davis Cup AME F: USA vs ECU',
 'Davis Cup AME F: USA vs MEX',
 'Davis Cup AME F: USA vs RSA',
 'Davis Cup AME PR: ARG vs ECU',
 'Davis Cup AME PR: BOL vs PER',
 'Davis Cup AME PR: BRA vs BOL',
 'Davis Cup AME PR: BRA vs PER',
 'Davis Cup AME PR: CAN vs CAR',
 'Davis Cup AME PR: CAN vs COL',
 'Davis Cup AME PR: CAN vs MEX',
 'Davis Cup AME PR: CAR vs CAN',
 'Davis Cup AME PR: CAR vs USA',
 'Davis Cup AME PR: CAR vs VEN',
 'Davis Cup AME PR: COL vs CAR',
 'Davis Cup AME PR: COL vs VEN',
 'Davis Cup AME PR: ECU vs ARG',
 'Davis Cup AME PR: MEX vs CAN',
 'Davis Cup AME PR: MEX vs CAR',
 'Davis Cup AME PR: PER vs URU',
 'Davis Cup AME PR: PHI vs JPN',
 'Davis Cup AME PR: URU vs ECU',
 'Davis Cup AME PR: USA vs MEX',
 'Davis Cup AME PR: USA vs VEN',
 'Davis Cup AME PR: VEN vs COL',
 'Davis Cup AME PR: VEN vs USA',
 'Davis Cup AME QF: ARG vs BRA',
 'Davis Cup AME QF: ARG vs URU',
 'Davis Cup AME QF: BRA vs ARG',
 'Davis Cup AME QF: BRA vs PER',
 'Davis Cup AME QF: CAN vs CAR',
 'Davis Cup AME QF: CAN vs VEN',
 'Davis Cup AME QF: CAR vs BRA',
 'Davis Cup AME QF: CAR vs CHI',
 'Davis Cup AME QF: CAR vs URU',
 'Davis Cup AME QF: CHI vs CAN',
 'Davis Cup AME QF: CHI vs COL',
 'Davis Cup AME QF: COL vs BRA',
 'Davis Cup AME QF: COL vs PER',
 'Davis Cup AME QF: ECU vs BOL',
 'Davis Cup AME QF: ECU vs CAR',
 'Davis Cup AME QF: HKG vs AUS',
 'Davis Cup AME QF: JPN vs CHN',
 'Davis Cup AME QF: JPN vs PHI',
 'Davis Cup AME QF: MEX vs CAN',
 'Davis Cup AME QF: MEX vs PER',
 'Davis Cup AME QF: MEX vs USA',
 'Davis Cup AME QF: PER vs CAN',
 'Davis Cup AME QF: URU vs BRA',
 'Davis Cup AME QF: URU vs COL',
 'Davis Cup AME QF: URU vs MEX',
 'Davis Cup AME QF: USA vs MEX',
 'Davis Cup AME QF: VEN vs BRA',
 'Davis Cup AME R1: CAR vs CUB',
 'Davis Cup AME R1: COL vs URU',
 'Davis Cup AME R1: PER vs BRA',
 'Davis Cup AME R1: VEN vs CAN',
 'Davis Cup AME R1: VEN vs MEX',
 'Davis Cup AME R1: VEN vs URU',
 'Davis Cup AME SF: ARG vs CHI',
 'Davis Cup AME SF: ARG vs PER',
 'Davis Cup AME SF: AUS vs INA',
 'Davis Cup AME SF: AUS vs JPN',
 'Davis Cup AME SF: BRA vs CHI',
 'Davis Cup AME SF: BRA vs COL',
 'Davis Cup AME SF: BRA vs URU',
 'Davis Cup AME SF: CAN vs CAR',
 'Davis Cup AME SF: CAN vs ECU',
 'Davis Cup AME SF: CAN vs MEX',
 'Davis Cup AME SF: CAR vs MEX',
 'Davis Cup AME SF: CAR vs NZL',
 'Davis Cup AME SF: CAR vs USA',
 'Davis Cup AME SF: CHI vs ARG',
 'Davis Cup AME SF: CHI vs BRA',
 'Davis Cup AME SF: CHI vs MEX',
 'Davis Cup AME SF: CHN vs JPN',
 'Davis Cup AME SF: COL vs CAN',
 'Davis Cup AME SF: COL vs CAR',
 'Davis Cup AME SF: ECU vs CAN',
 'Davis Cup AME SF: INA vs AUS',
 'Davis Cup AME SF: JPN vs AUS',
 'Davis Cup AME SF: JPN vs PHI',
 'Davis Cup AME SF: KOR vs AUS',
 'Davis Cup AME SF: MEX vs CAN',
 'Davis Cup AME SF: MEX vs NZL',
 'Davis Cup AME SF: PHI vs JPN',
 'Davis Cup AME SF: URU vs BRA',
 'Davis Cup AME SF: USA vs CAR',
 'Davis Cup AME SF: USA vs RSA',
 'Davis Cup AME SF: VEN vs CAN',
 'Davis Cup AME SF: VEN vs CAR',
 'Davis Cup AOC F: NZL vs KOR',
 'Davis Cup AOC QF: KOR vs PAK',
 'Davis Cup AOC QF: KOR vs PHI',
 'Davis Cup AOC QF: PAK vs INA',
 'Davis Cup AOC QF: PAK vs KOR',
 'Davis Cup AOC QF: PHI vs KOR',
 'Davis Cup AOC QF: SRI vs IND',
 'Davis Cup AOC R1: INA vs PHI',
 'Davis Cup AOC SF: INA vs PAK',
 'Davis Cup AOC SF: IND vs THA',
 'Davis Cup AOC SF: PHI vs KOR',
 'Davis Cup AOC SF: THA vs IND',
 'Davis Cup EUR F: AUS vs NZL',
 'Davis Cup EUR F: BRA vs ROU',
 'Davis Cup EUR F: CHN vs NZL',
 'Davis Cup EUR F: COL vs RSA',
 'Davis Cup EUR F: DEN vs AUT',
 'Davis Cup EUR F: ESP vs HUN',
 'Davis Cup EUR F: ESP vs ITA',
 'Davis Cup EUR F: ESP vs SWE',
 'Davis Cup EUR F: ESP vs TCH',
 'Davis Cup EUR F: ESP vs YUG',
 'Davis Cup EUR F: FRA vs AUT',
 'Davis Cup EUR F: FRA vs ROU',
 'Davis Cup EUR F: FRG vs ESP',
 'Davis Cup EUR F: FRG vs RSA',
 'Davis Cup EUR F: FRG vs SUI',
 'Davis Cup EUR F: FRG vs URS',
 'Davis Cup EUR F: GBR vs ISR',
 'Davis Cup EUR F: GBR vs ITA',
 'Davis Cup EUR F: GBR vs ROU',
 'Davis Cup EUR F: GBR vs RSA',
 'Davis Cup EUR F: GBR vs TCH',
 'Davis Cup EUR F: HUN vs DEN',
 'Davis Cup EUR F: HUN vs ESP',
 'Davis Cup EUR F: IND vs JPN',
 'Davis Cup EUR F: IRL vs SUI',
 'Davis Cup EUR F: ITA vs GBR',
 'Davis Cup EUR F: ITA vs ROU',
 'Davis Cup EUR F: ITA vs SWE',
 'Davis Cup EUR F: JPN vs IND',
 'Davis Cup EUR F: NZL vs AUS',
 'Davis Cup EUR F: PAK vs JPN',
 'Davis Cup EUR F: ROU vs DEN',
 'Davis Cup EUR F: ROU vs FRG',
 'Davis Cup EUR F: ROU vs TCH',
 'Davis Cup EUR F: ROU vs URS',
 'Davis Cup EUR F: SUI vs ISR',
 'Davis Cup EUR F: SWE vs HUN',
 'Davis Cup EUR F: TCH vs ESP',
 'Davis Cup EUR F: TCH vs FRA',
 'Davis Cup EUR F: TCH vs ITA',
 'Davis Cup EUR F: TCH vs SWE',
 'Davis Cup EUR F: URS vs HUN',
 'Davis Cup EUR F: URS vs ISR',
 'Davis Cup EUR F: URS vs NED',
 'Davis Cup EUR F: URS vs ROU',
 'Davis Cup EUR F: URS vs SUI',
 'Davis Cup EUR F: URS vs TCH',
 'Davis Cup EUR F: YUG vs HUN',
 'Davis Cup EUR PQ: ALG vs MAR',
 'Davis Cup EUR PQ: EGY vs MAR',
 'Davis Cup EUR PQ: IRI vs ALG',
 'Davis Cup EUR PQ: IRI vs ISR',
 'Davis Cup EUR PQ: IRI vs LIB',
 'Davis Cup EUR PQ: ISR vs LUX',
 'Davis Cup EUR PQ: ISR vs TUR',
 'Davis Cup EUR PQ: LUX vs FIN',
 'Davis Cup EUR PQ: LUX vs POR',
 'Davis Cup EUR PQ: LUX vs TUR',
 'Davis Cup EUR PQ: MAR vs TUR',
 'Davis Cup EUR PQ: NGR vs KEN',
 'Davis Cup EUR PQ: NGR vs MAR',
 'Davis Cup EUR PQ: PHI vs PAK',
 'Davis Cup EUR PQ: TUR vs IRI',
 'Davis Cup EUR PQ: TUR vs IRL',
 'Davis Cup EUR PQ: TUR vs LIB',
 'Davis Cup EUR PQ: TUR vs LUX',
 'Davis Cup EUR PR: ALG vs IRI',
 'Davis Cup EUR PR: AUT vs EGY',
 'Davis Cup EUR PR: AUT vs FIN',
 'Davis Cup EUR PR: AUT vs GBR',
 'Davis Cup EUR PR: AUT vs MON',
 'Davis Cup EUR PR: AUT vs NZL',
 'Davis Cup EUR PR: AUT vs ROU',
 'Davis Cup EUR PR: BEL vs AUT',
 'Davis Cup EUR PR: BEL vs BUL',
 'Davis Cup EUR PR: BEL vs DEN',
 'Davis Cup EUR PR: BEL vs GRE',
 'Davis Cup EUR PR: BEL vs HUN',
 'Davis Cup EUR PR: BEL vs IRL',
 'Davis Cup EUR PR: BEL vs NED',
 'Davis Cup EUR PR: BEL vs NOR',
 'Davis Cup EUR PR: BEL vs ROU',
 'Davis Cup EUR PR: BEL vs YUG',
 'Davis Cup EUR PR: BUL vs AUT',
 'Davis Cup EUR PR: BUL vs HUN',
 'Davis Cup EUR PR: BUL vs IRI',
 'Davis Cup EUR PR: BUL vs TUR',
 'Davis Cup EUR PR: DEN vs FIN',
 'Davis Cup EUR PR: DEN vs GRE',
 'Davis Cup EUR PR: EGY vs BUL',
 'Davis Cup EUR PR: EGY vs GBR',
 'Davis Cup EUR PR: EGY vs IRL',
 'Davis Cup EUR PR: EGY vs LIB',
 'Davis Cup EUR PR: EGY vs POR',
 'Davis Cup EUR PR: EGY vs TUR',
 'Davis Cup EUR PR: ESP vs DEN',
 'Davis Cup EUR PR: ESP vs NED',
 'Davis Cup EUR PR: ESP vs NOR',
 'Davis Cup EUR PR: ESP vs URS',
 'Davis Cup EUR PR: FIN vs EGY',
 'Davis Cup EUR PR: FIN vs MAR',
 'Davis Cup EUR PR: FIN vs POL',
 'Davis Cup EUR PR: FIN vs TUR',
 'Davis Cup EUR PR: FRA vs BEL',
 'Davis Cup EUR PR: FRA vs URS',
 'Davis Cup EUR PR: FRG vs DEN',
 'Davis Cup EUR PR: FRG vs ISR',
 'Davis Cup EUR PR: FRG vs NOR',
 'Davis Cup EUR PR: FRG vs SUI',
 'Davis Cup EUR PR: GBR vs IRI',
 'Davis Cup EUR PR: GRE vs DEN',
 'Davis Cup EUR PR: GRE vs ESP',
 'Davis Cup EUR PR: GRE vs FIN',
 'Davis Cup EUR PR: GRE vs POR',
 'Davis Cup EUR PR: GRE vs URS',
 'Davis Cup EUR PR: HUN vs BEL',
 'Davis Cup EUR PR: HUN vs NED',
 'Davis Cup EUR PR: IRI vs SUI',
 'Davis Cup EUR PR: IRL vs BUL',
 'Davis Cup EUR PR: IRL vs IRI',
 'Davis Cup EUR PR: IRL vs NOR',
 'Davis Cup EUR PR: IRL vs POR',
 'Davis Cup EUR PR: IRL vs SWE',
 'Davis Cup EUR PR: ISR vs AUT',
 'Davis Cup EUR PR: ISR vs FIN',
 'Davis Cup EUR PR: ISR vs IRI',
 'Davis Cup EUR PR: ISR vs MON',
 'Davis Cup EUR PR: ISR vs SUI',
 'Davis Cup EUR PR: ITA vs DEN',
 'Davis Cup EUR PR: ITA vs POL',
 'Davis Cup EUR PR: JPN vs IND',
 'Davis Cup EUR PR: MAR vs BEL',
 'Davis Cup EUR PR: MAR vs LUX',
 'Davis Cup EUR PR: MAR vs NOR',
 'Davis Cup EUR PR: MAR vs YUG',
 'Davis Cup EUR PR: MON vs DEN',
 'Davis Cup EUR PR: MON vs EGY',
 'Davis Cup EUR PR: MON vs GBR',
 'Davis Cup EUR PR: MON vs ISR',
 'Davis Cup EUR PR: MON vs LUX',
 'Davis Cup EUR PR: MON vs NGR',
 'Davis Cup EUR PR: MON vs URS',
 'Davis Cup EUR PR: NED vs DEN',
 'Davis Cup EUR PR: NED vs FIN',
 'Davis Cup EUR PR: NED vs FRA',
 'Davis Cup EUR PR: NED vs GRE',
 'Davis Cup EUR PR: NED vs ISR',
 'Davis Cup EUR PR: NED vs NOR',
 'Davis Cup EUR PR: NED vs YUG',
 'Davis Cup EUR PR: NOR vs IRI',
 'Davis Cup EUR PR: NOR vs TUR',
 'Davis Cup EUR PR: PHI vs THA',
 'Davis Cup EUR PR: POL vs FIN',
 'Davis Cup EUR PR: POL vs FRG',
 'Davis Cup EUR PR: POL vs HUN',
 'Davis Cup EUR PR: POL vs IRI',
 'Davis Cup EUR PR: POL vs NOR',
 'Davis Cup EUR PR: POL vs POR',
 'Davis Cup EUR PR: POR vs FRA',
 'Davis Cup EUR PR: POR vs IRL',
 'Davis Cup EUR PR: POR vs MON',
 'Davis Cup EUR PR: POR vs SUI',
 'Davis Cup EUR PR: ROU vs BEL',
 'Davis Cup EUR PR: SRI vs PAK',
 'Davis Cup EUR PR: SUI vs AUT',
 'Davis Cup EUR PR: SUI vs EGY',
 'Davis Cup EUR PR: SUI vs FRA',
 'Davis Cup EUR PR: SUI vs FRG',
 'Davis Cup EUR PR: SUI vs GBR',
 'Davis Cup EUR PR: SUI vs IRI',
 'Davis Cup EUR PR: SUI vs ISR',
 'Davis Cup EUR PR: SUI vs RHO',
 'Davis Cup EUR PR: SUI vs YUG',
 'Davis Cup EUR PR: SWE vs MON',
 'Davis Cup EUR PR: SWE vs POL',
 'Davis Cup EUR PR: TCH vs IRL',
 'Davis Cup EUR PR: TCH vs NED',
 'Davis Cup EUR PR: TPE vs PHI',
 'Davis Cup EUR PR: URS vs MON',
 'Davis Cup EUR PR: YUG vs BUL',
 'Davis Cup EUR PR: YUG vs GRE',
 'Davis Cup EUR PR: YUG vs POR',
 'Davis Cup EUR PR: YUG vs ROU',
 'Davis Cup EUR QF: ALG vs ESP',
 'Davis Cup EUR QF: AUT vs ALG',
 'Davis Cup EUR QF: AUT vs DEN',
 'Davis Cup EUR QF: AUT vs ESP',
 'Davis Cup EUR QF: AUT vs FRA',
 'Davis Cup EUR QF: AUT vs GRE',
 'Davis Cup EUR QF: AUT vs NOR',
 'Davis Cup EUR QF: AUT vs POR',
 'Davis Cup EUR QF: BEL vs FRG',
 'Davis Cup EUR QF: BEL vs ISR',
 'Davis Cup EUR QF: BEL vs TCH',
 'Davis Cup EUR QF: BEL vs URS',
 'Davis Cup EUR QF: BUL vs BEL',
 'Davis Cup EUR QF: BUL vs EGY',
 'Davis Cup EUR QF: BUL vs FIN',
 'Davis Cup EUR QF: BUL vs FRG',
 'Davis Cup EUR QF: BUL vs SEN',
 'Davis Cup EUR QF: DEN vs BEL',
 'Davis Cup EUR QF: DEN vs NED',
 'Davis Cup EUR QF: DEN vs POL',
 'Davis Cup EUR QF: EGY vs HUN',
 'Davis Cup EUR QF: EGY vs NED',
 'Davis Cup EUR QF: EGY vs TCH',
 'Davis Cup EUR QF: EGY vs YUG',
 'Davis Cup EUR QF: ESP vs BUL',
 'Davis Cup EUR QF: ESP vs FRG',
 'Davis Cup EUR QF: ESP vs GBR',
 'Davis Cup EUR QF: ESP vs SWE',
 'Davis Cup EUR QF: ESP vs YUG',
 'Davis Cup EUR QF: FIN vs BUL',
 'Davis Cup EUR QF: FIN vs DEN',
 'Davis Cup EUR QF: FIN vs IRL',
 'Davis Cup EUR QF: FRA vs AUT',
 'Davis Cup EUR QF: FRA vs ESP',
 'Davis Cup EUR QF: FRA vs FIN',
 'Davis Cup EUR QF: FRA vs SUI',
 'Davis Cup EUR QF: FRA vs YUG',
 'Davis Cup EUR QF: FRG vs AUT',
 'Davis Cup EUR QF: FRG vs EGY',
 'Davis Cup EUR QF: FRG vs ESP',
 'Davis Cup EUR QF: FRG vs GBR',
 'Davis Cup EUR QF: FRG vs IRL',
 'Davis Cup EUR QF: FRG vs SWE',
 'Davis Cup EUR QF: FRG vs URS',
 'Davis Cup EUR QF: GBR vs AUT',
 'Davis Cup EUR QF: GBR vs IRL',
 'Davis Cup EUR QF: GBR vs POR',
 'Davis Cup EUR QF: GBR vs ROU',
 'Davis Cup EUR QF: GRE vs AUT',
 'Davis Cup EUR QF: GRE vs FIN',
 'Davis Cup EUR QF: HUN vs EGY',
 'Davis Cup EUR QF: HUN vs FRG',
 'Davis Cup EUR QF: HUN vs LUX',
 'Davis Cup EUR QF: HUN vs URS',
 'Davis Cup EUR QF: HUN vs YUG',
 'Davis Cup EUR QF: HUN vs ZIM',
 'Davis Cup EUR QF: IND vs JPN',
 'Davis Cup EUR QF: IRI vs RSA',
 'Davis Cup EUR QF: IRL vs MON',
 'Davis Cup EUR QF: IRL vs NED',
 'Davis Cup EUR QF: IRL vs YUG',
 'Davis Cup EUR QF: ISR vs BEL',
 'Davis Cup EUR QF: ISR vs NED',
 'Davis Cup EUR QF: ISR vs POL',
 'Davis Cup EUR QF: ISR vs ROU',
 'Davis Cup EUR QF: ITA vs AUT',
 'Davis Cup EUR QF: ITA vs BUL',
 'Davis Cup EUR QF: ITA vs MON',
 'Davis Cup EUR QF: ITA vs NED',
 'Davis Cup EUR QF: ITA vs YUG',
 'Davis Cup EUR QF: JPN vs PAK',
 'Davis Cup EUR QF: MAR vs SUI',
 'Davis Cup EUR QF: MAR vs URS',
 'Davis Cup EUR QF: MON vs HUN',
 'Davis Cup EUR QF: MON vs IRL',
 'Davis Cup EUR QF: MON vs ISR',
 'Davis Cup EUR QF: MON vs POL',
 'Davis Cup EUR QF: MON vs POR',
 'Davis Cup EUR QF: MON vs TCH',
 'Davis Cup EUR QF: MON vs URS',
 'Davis Cup EUR QF: NED vs ESP',
 'Davis Cup EUR QF: NED vs IRL',
 'Davis Cup EUR QF: NED vs ROU',
 'Davis Cup EUR QF: NGR vs NED',
 'Davis Cup EUR QF: NOR vs AUT',
 'Davis Cup EUR QF: NOR vs FRA',
 'Davis Cup EUR QF: NOR vs ROU',
 'Davis Cup EUR QF: PAK vs PHI',
 'Davis Cup EUR QF: PHI vs IND',
 'Davis Cup EUR QF: POL vs FRA',
 'Davis Cup EUR QF: POL vs ITA',
 'Davis Cup EUR QF: POL vs ROU',
 'Davis Cup EUR QF: POR vs EGY',
 'Davis Cup EUR QF: POR vs HUN',
 'Davis Cup EUR QF: ROU vs AUT',
 'Davis Cup EUR QF: ROU vs FRG',
 'Davis Cup EUR QF: ROU vs GRE',
 'Davis Cup EUR QF: ROU vs IRI',
 'Davis Cup EUR QF: ROU vs ISR',
 'Davis Cup EUR QF: ROU vs POL',
 'Davis Cup EUR QF: ROU vs TCH',
 'Davis Cup EUR QF: SUI vs BEL',
 'Davis Cup EUR QF: SUI vs ESP',
 'Davis Cup EUR QF: SUI vs GRE',
 'Davis Cup EUR QF: SUI vs HUN',
 'Davis Cup EUR QF: SUI vs SEN',
 'Davis Cup EUR QF: SUI vs ZIM',
 'Davis Cup EUR QF: SWE vs AUT',
 'Davis Cup EUR QF: SWE vs ESP',
 'Davis Cup EUR QF: SWE vs FRG',
 'Davis Cup EUR QF: SWE vs NED',
 'Davis Cup EUR QF: TCH vs POL',
 'Davis Cup EUR QF: TCH vs POR',
 'Davis Cup EUR QF: TCH vs SWE',
 'Davis Cup EUR QF: THA vs PAK',
 'Davis Cup EUR QF: TPE vs NZL',
 'Davis Cup EUR QF: TUR vs FRA',
 'Davis Cup EUR QF: TUR vs ROU',
 'Davis Cup EUR QF: TUR vs URS',
 'Davis Cup EUR QF: URS vs BEL',
 'Davis Cup EUR QF: URS vs CAN',
 'Davis Cup EUR QF: URS vs MON',
 'Davis Cup EUR QF: URS vs YUG',
 'Davis Cup EUR QF: YUG vs ESP',
 'Davis Cup EUR QF: YUG vs ISR',
 'Davis Cup EUR QF: YUG vs ITA',
 'Davis Cup EUR QF: YUG vs NZL',
 'Davis Cup EUR QF: YUG vs SWE',
 'Davis Cup EUR R1: ALG vs BUL',
 'Davis Cup EUR R1: AUT vs MAR',
 'Davis Cup EUR R1: AUT vs NZL',
 'Davis Cup EUR R1: AUT vs RSA',
 'Davis Cup EUR R1: BEL vs BUL',
 'Davis Cup EUR R1: BEL vs POL',
 'Davis Cup EUR R1: BEL vs TCH',
 'Davis Cup EUR R1: BUL vs BEL',
 'Davis Cup EUR R1: BUL vs CYP',
 'Davis Cup EUR R1: BUL vs DEN',
 'Davis Cup EUR R1: BUL vs ESP',
 'Davis Cup EUR R1: BUL vs TUR',
 'Davis Cup EUR R1: CHN vs INA',
 'Davis Cup EUR R1: CYP vs IRL',
 'Davis Cup EUR R1: DEN vs POR',
 'Davis Cup EUR R1: DEN vs TCH',
 'Davis Cup EUR R1: DEN vs URS',
 'Davis Cup EUR R1: EGY vs ALG',
 'Davis Cup EUR R1: EGY vs GRE',
 'Davis Cup EUR R1: EGY vs LUX',
 'Davis Cup EUR R1: EGY vs MLT',
 'Davis Cup EUR R1: EGY vs NOR',
 'Davis Cup EUR R1: EGY vs POL',
 'Davis Cup EUR R1: EGY vs TCH',
 'Davis Cup EUR R1: ESP vs ALG',
 'Davis Cup EUR R1: ESP vs NED',
 'Davis Cup EUR R1: ESP vs RHO',
 'Davis Cup EUR R1: FIN vs BEL',
 'Davis Cup EUR R1: FIN vs CYP',
 'Davis Cup EUR R1: FIN vs DEN',
 'Davis Cup EUR R1: FIN vs IRL',
 'Davis Cup EUR R1: FIN vs POR',
 'Davis Cup EUR R1: FIN vs SWE',
 'Davis Cup EUR R1: FRA vs GBR',
 'Davis Cup EUR R1: FRG vs DEN',
 'Davis Cup EUR R1: FRG vs NZL',
 'Davis Cup EUR R1: FRG vs SUI',
 'Davis Cup EUR R1: GBR vs AUT',
 'Davis Cup EUR R1: GBR vs FRA',
 'Davis Cup EUR R1: GRE vs BEL',
 'Davis Cup EUR R1: GRE vs FRG',
 'Davis Cup EUR R1: GRE vs HUN',
 'Davis Cup EUR R1: GRE vs LUX',
 'Davis Cup EUR R1: GRE vs NED',
 'Davis Cup EUR R1: GRE vs NOR',
 'Davis Cup EUR R1: GRE vs SYR',
 'Davis Cup EUR R1: GRE vs URS',
 'Davis Cup EUR R1: HUN vs POL',
 'Davis Cup EUR R1: HUN vs URS',
 'Davis Cup EUR R1: IRI vs EGY',
 'Davis Cup EUR R1: IRI vs ISR',
 'Davis Cup EUR R1: IRI vs ROU',
 'Davis Cup EUR R1: IRL vs BEL',
 'Davis Cup EUR R1: IRL vs LUX',
 'Davis Cup EUR R1: IRL vs TUR',
 'Davis Cup EUR R1: ISR vs NED',
 'Davis Cup EUR R1: ISR vs NOR',
 'Davis Cup EUR R1: ITA vs AUT',
 'Davis Cup EUR R1: ITA vs BEL',
 'Davis Cup EUR R1: ITA vs BUL',
 'Davis Cup EUR R1: ITA vs HUN',
 'Davis Cup EUR R1: ITA vs TCH',
 'Davis Cup EUR R1: LIB vs MAR',
 'Davis Cup EUR R1: LUX vs BUL',
 'Davis Cup EUR R1: LUX vs IRL',
 'Davis Cup EUR R1: LUX vs MON',
 'Davis Cup EUR R1: LUX vs NOR',
 'Davis Cup EUR R1: MAR vs FIN',
 'Davis Cup EUR R1: MAR vs HUN',
 'Davis Cup EUR R1: MAR vs POL',
 'Davis Cup EUR R1: MAR vs SWE',
 'Davis Cup EUR R1: MLT vs IRL',
 'Davis Cup EUR R1: MON vs BUL',
 'Davis Cup EUR R1: MON vs IRL',
 'Davis Cup EUR R1: MON vs LUX',
 'Davis Cup EUR R1: MON vs MAR',
 'Davis Cup EUR R1: MON vs POR',
 'Davis Cup EUR R1: MON vs ZIM',
 'Davis Cup EUR R1: NED vs CAN',
 'Davis Cup EUR R1: NED vs FIN',
 'Davis Cup EUR R1: NED vs NOR',
 'Davis Cup EUR R1: NGR vs NOR',
 'Davis Cup EUR R1: NOR vs AUT',
 'Davis Cup EUR R1: NOR vs DEN',
 'Davis Cup EUR R1: NOR vs IRL',
 'Davis Cup EUR R1: NOR vs POR',
 'Davis Cup EUR R1: NOR vs SEN',
 'Davis Cup EUR R1: PAK vs SRI',
 'Davis Cup EUR R1: POL vs BEL',
 'Davis Cup EUR R1: POL vs FIN',
 'Davis Cup EUR R1: POL vs GRE',
 'Davis Cup EUR R1: POL vs HUN',

In [289]:
# Some tournaments appear with different names. We should make it easier
def replace_tourney_name(df):
    mask1 = df['tourney_name'].str.contains('Davis Cup')
    df.loc[mask1, 'tourney_name'] = 'Davis Cup'
    
    mask2 = df['tourney_name'].str.contains('Olympics')
    df.loc[mask2, 'tourney_name'] = 'Olympics'
    
    mask3 = df['tourney_name'].str.contains('Australian Open')
    df.loc[mask3, 'tourney_name'] = 'Australian Open'
    
    mask4 = df['tourney_name'].str.contains('Adelaide')
    df.loc[mask4, 'tourney_name'] = 'Adelaide'
    
    mask5 = df['tourney_name'].str.contains('Washington')
    df.loc[mask5, 'tourney_name'] = 'Washington'
    
    mask6 = df['tourney_name'].str.contains('Barcelona')
    df.loc[mask6, 'tourney_name'] = 'Barcelona'
    
    mask7 = df['tourney_name'].str.contains('Belgrade')
    df.loc[mask7, 'tourney_name'] = 'Belgrade'
    
    mask8 = df['tourney_name'].str.contains('Cincinnati')
    df.loc[mask8, 'tourney_name'] = 'Cincinnati'
    
    mask9 = df['tourney_name'].str.contains('Hamburg')
    df.loc[mask9, 'tourney_name'] = 'Hamburg'
    
    mask10 = df['tourney_name'].str.contains('Indian Wells')
    df.loc[mask10, 'tourney_name'] = 'Indian Wells'
    
    mask11 = df['tourney_name'].str.contains('Madrid')
    df.loc[mask11, 'tourney_name'] = 'Madrid'
    
    mask12 = df['tourney_name'].str.contains('Miami')
    df.loc[mask12, 'tourney_name'] = 'Miami'
    
    mask13 = df['tourney_name'].str.contains('Monte Carlo')
    df.loc[mask13, 'tourney_name'] = 'Monte Carlo'
    
    mask14 = df['tourney_name'].str.contains('New York')
    df.loc[mask14, 'tourney_name'] = 'New York'
    
    mask15 = df['tourney_name'].str.contains('Rome')
    df.loc[mask15, 'tourney_name'] = 'Rome'
    
    mask16 = df['tourney_name'].str.contains('Shanghai')
    df.loc[mask16, 'tourney_name'] = 'Shanghai'
    
    mask17 = df['tourney_name'].str.contains('Toronto')
    df.loc[mask17, 'tourney_name'] = 'Toronto'
    
    mask18 = df['tourney_name'].str.contains('Janeiro')
    df.loc[mask18, 'tourney_name'] = 'Rio de Janeiro'
    
    return df

In [290]:
df = replace_tourney_name(df)

### Handle missing values

#### For surface

In [291]:
df[df['surface'].isna()]['tourney_name'].unique()

array(['Davis Cup', 'Perth', 'Bristol', 'Manchester', 'Cape Town',
       'Mexico City', 'Calcutta', 'Port Elizabeth', 'San Juan', 'Phoenix',
       'Cannes', 'Los Angeles SoCal Chps', 'Oakland', 'Woodside',
       'Helsinki', 'Saltsjoebaden', 'San Antonio Collegiate',
       'Montana Vermala', 'Senigallia', 'Quebec City', 'Bucharest',
       'Mamaia', 'Las Vegas', 'Madrid', 'Valencia', 'Cannes Chps',
       'Hanau', 'Tournament of Champions WCT', 'Roanoke', 'Dublin',
       'Cedar Grove', 'Christchurch', 'Oslo', 'New Orleans WCT', 'Omaha',
       'Paramus', 'Calgary', 'Salt Lake City', 'Washington', 'Tokyo WCT',
       'Tokyo', 'Freeport', 'Shreveport', 'New York', 'Istanbul',
       'Quebec WCT', 'Vancouver WCT', 'Casablanca WCT', 'Seattle',
       'Tanglewood', 'Montreal WCT', 'Alamo WCT', 'Los Angeles',
       'Des Moines', 'Kansas City', 'Sacramento', 'Quebec', 'New Delhi',
       'Djkarta'], dtype=object)

In [292]:
# Get NaN values for surface
missing_surface = df[df['surface'].isnull()]

# Browse lines of this df
for index, row in missing_surface.iterrows():
    # Get tourney name value
    tourney_name = row['tourney_name']
    
    # Get similar tourney names containing a value where surface is NaN
    matching_rows = df[(df['tourney_name'] == tourney_name) & ~(df['surface'].isnull())]
    
    # Take the first corresponding value and put it in the missing surface cell
    if not matching_rows.empty:
        surface_value = matching_rows.iloc[0]['surface']
        df.at[index, 'surface'] = surface_value

#### For winner height

In [293]:
# Get NaN values for winner_ht
missing_winner_ht = df[df['winner_ht'].isnull()]

# Browse lines of this df
for index, row in missing_winner_ht.iterrows():
    # Get winner id value
    winner_id = row['winner_id']
    
    # Get the value in the players dataframe for corresponding id
    player_info = players[players['player_id'] == winner_id]
    
    if not player_info.empty and not pd.isnull(player_info.iloc[0]['height']):
        height_value = player_info.iloc[0]['height']
        df.at[index, 'winner_ht'] = height_value

#### For loser height

In [294]:
# Get NaN values for loser_ht
missing_loser_ht = df[df['loser_ht'].isnull()]

# Browse lines of this df
for index, row in missing_loser_ht.iterrows():
    # # Get loser height value
    loser_id = row['loser_id']
    
    # Get the value in the players dataframe for corresponding id
    player_info = players[players['player_id'] == loser_id]
    
    if not player_info.empty and not pd.isnull(player_info.iloc[0]['height']):
        height_value = player_info.iloc[0]['height']
        df.at[index, 'loser_ht'] = height_value

#### For loser age

In [295]:
# Get NaN values for loser_age
players['dob'] = pd.to_datetime(players['dob'])

df['tourney_date'] = pd.to_datetime(df['tourney_date'])

# Calculate age by substracting tourney date and date of birth
def calculate_age(row):
    if pd.isnull(row['loser_age']):
        loser_id = row['loser_id']
        player_info = players[players['player_id'] == loser_id]
        if not player_info.empty and not pd.isnull(player_info.iloc[0]['dob']):
            dob = player_info.iloc[0]['dob']
            tourney_date = row['tourney_date']
            return (tourney_date - dob).days // 365
    return row['loser_age']

df['loser_age'] = df.apply(calculate_age, axis=1)

### Calculate means of winner heights values for every combination of loser height, tourney name and round

In [296]:
# Average winner height for different loser height, tourney and round
winner_ht_means = pd.DataFrame(df.groupby(['loser_ht','tourney_name','round'])['winner_ht'].mean())
winner_ht_means

                             winner_ht
loser_ht tourney_name round
160.0    Athens       R16        180.0
                      R32        180.0
         Barcelona    R32        180.0
                      R64        188.0
         Bari         R16        185.0
...                                ...
211.0    Washington   R32        193.0
                      R64        191.5
         Wimbledon    R128       180.0
                      R32        196.0
                      R64        188.0

[18034 rows x 1 columns]

We can replace NaN winner_ht with similar values for this columnes with the means

In [297]:
# Merge the new df with the current one and fill the NaN with rows corresponding to the same loser height, tourney and round
merged_df = df.merge(winner_ht_means, how='left', on=['loser_ht', 'tourney_name', 'round'], suffixes=('', '_mean'))

df['winner_ht'] = df['winner_ht'].fillna(merged_df['winner_ht_mean'])

In [298]:
# Average loser height for different winner height, tourney and round
loser_ht_means = pd.DataFrame(df.groupby(['winner_ht','tourney_name','round'])['loser_ht'].mean())
loser_ht_means

                              loser_ht
winner_ht tourney_name round
160.0     Athens       R32       185.0
          Barcelona    R64       183.0
          Bari         R32       183.0
          Davis Cup    RR          NaN
          Monte Carlo  R64         NaN
...                                ...
211.0     Us Open      R64       185.0
          Washington   R32       185.5
                       R64       201.0
          Wimbledon    R128      183.0
                       R64       183.0

[20323 rows x 1 columns]

In [299]:
# Merge the new df with the current one and fill the NaN with rows corresponding to the same winner height, tourney and round
merged_df = df.merge(loser_ht_means, how='left', on=['winner_ht', 'tourney_name', 'round'], suffixes=('', '_mean'))

df['loser_ht'] = df['loser_ht'].fillna(merged_df['loser_ht_mean'])

In [300]:
# Average loser rank for different tourney and round
loser_rank_means = pd.DataFrame(df.groupby(['tourney_name','round'])['loser_rank'].mean())
loser_rank_means

                       loser_rank
tourney_name    round
Aberavon        F             NaN
                QF            NaN
                R16           NaN
                R32           NaN
                SF            NaN
...                           ...
s Hertogenbosch F      107.826087
                QF      74.854167
                R16     98.296296
                R32    128.919540
                SF      62.319149

[2611 rows x 1 columns]

In [301]:
# Merge the new df with the current one and fill the NaN with rows corresponding to the same tourney and round
merged_df = df.merge(loser_rank_means, how='left', on=['tourney_name','round'], suffixes=('', '_mean'))

df['loser_rank'] = df['loser_rank'].fillna(merged_df['loser_rank_mean'])

In [302]:
# Average winner rank for different tourney and round
winner_rank_means = pd.DataFrame(df.groupby(['tourney_name','round'])['winner_rank'].mean())
winner_rank_means

                       winner_rank
tourney_name    round
Aberavon        F              NaN
                QF             NaN
                R16            NaN
                R32            NaN
                SF             NaN
...                            ...
s Hertogenbosch F        49.500000
                QF       70.180851
                R16      72.542105
                R32      91.302594
                SF       78.042553

[2611 rows x 1 columns]

In [303]:
# Merge the new df with the current one and fill the NaN with rows corresponding to the same tourney and round
merged_df = df.merge(winner_rank_means, how='left', on=['tourney_name','round'], suffixes=('', '_mean'))

df['winner_rank'] = df['winner_rank'].fillna(merged_df['winner_rank_mean'])

In [304]:
# Average loser rank points for different tourney and round
loser_rank__points_means = pd.DataFrame(df.groupby(['tourney_name','round'])['loser_rank_points'].mean())
loser_rank__points_means

                       loser_rank_points
tourney_name    round
Aberavon        F                    NaN
                QF                   NaN
                R16                  NaN
                R32                  NaN
                SF                   NaN
...                                  ...
s Hertogenbosch F            1330.217391
                QF            948.729167
                R16           791.063492
                R32           619.583333
                SF           1115.000000

[2611 rows x 1 columns]

In [305]:
# Merge the new df with the current one and fill the NaN with rows corresponding to the same tourney and round
merged_df = df.merge(loser_rank__points_means, how='left', on=['tourney_name','round'], suffixes=('', '_mean'))

df['loser_rank_points'] = df['loser_rank_points'].fillna(merged_df['loser_rank_points_mean'])

In [306]:
# Average winner rank points for different tourney and round
winner_rank__points_means = pd.DataFrame(df.groupby(['tourney_name','round'])['winner_rank_points'].mean())
winner_rank__points_means

                       winner_rank_points
tourney_name    round
Aberavon        F                     NaN
                QF                    NaN
                R16                   NaN
                R32                   NaN
                SF                    NaN
...                                   ...
s Hertogenbosch F             1524.291667
                QF            1272.159574
                R16           1108.742105
                R32            823.449568
                SF            1429.319149

[2611 rows x 1 columns]

In [307]:
# Merge the new df with the current one and fill the NaN with rows corresponding to the same tourney and round
merged_df = df.merge(winner_rank__points_means, how='left', on=['tourney_name','round'], suffixes=('', '_mean'))

df['winner_rank_points'] = df['winner_rank_points'].fillna(merged_df['winner_rank_points_mean'])

### Fill remaining empty rank points

In [308]:
df.isna().sum()

tourney_id                0
tourney_name              0
surface                 987
draw_size               835
tourney_level             0
tourney_date              0
match_num                 0
winner_id                 0
winner_hand              12
winner_ht             11394
winner_age             1311
loser_id                  0
loser_hand               49
loser_ht              12787
loser_age              4369
best_of                   0
round                     0
winner_rank            6157
loser_rank             6294
winner_rank_points    23506
loser_rank_points     23506
dtype: int64

#### Calculate the average difference between winner rank points and winner rank

In [309]:
np.mean(df['winner_rank_points']/df['winner_rank'].mean())

16.762872659327172

#### Calculate the average difference between loser rank points and loser rank

In [310]:
np.mean(df['loser_rank_points']/df['loser_rank'].mean())

6.829995326384309

In [311]:
# Get empty lines from winner and loser rank points
missing_points_rows = df[df['winner_rank_points'].isnull() & df['loser_rank_points'].isnull()]

# Multiply the corresponding rank by the mean multiple for winner and loser rank points
missing_points_rows['loser_rank_points'] = missing_points_rows['loser_rank'] * 6.83
missing_points_rows['winner_rank_points'] = missing_points_rows['winner_rank'] * 16.76

# winner_rank_points should always be superior to loser_rank_points
missing_points_rows.loc[missing_points_rows['winner_rank_points'] <= missing_points_rows['loser_rank_points'], 'winner_rank_points'] = missing_points_rows['loser_rank_points'] + 1

# Update df
df.update(missing_points_rows)

/var/folders/5q/f280wjd15s56_y9s5ntbx3rw0000gn/T/ipykernel_11940/2531697370.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_points_rows['loser_rank_points'] = missing_points_rows['loser_rank'] * 6.83
/var/folders/5q/f280wjd15s56_y9s5ntbx3rw0000gn/T/ipykernel_11940/2531697370.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_points_rows['winner_rank_points'] = missing_points_rows['winner_rank'] * 16.76

#### Drop remaining NaN

In [312]:
df=df.dropna(subset=['surface','winner_ht','winner_age','loser_ht','loser_age','winner_rank','loser_hand','loser_rank','winner_hand','winner_rank_points','loser_rank_points'])

In [313]:
df.isna().sum()

tourney_id             0
tourney_name           0
surface                0
draw_size             68
tourney_level          0
tourney_date           0
match_num              0
winner_id              0
winner_hand            0
winner_ht              0
winner_age             0
loser_id               0
loser_hand             0
loser_ht               0
loser_age              0
best_of                0
round                  0
winner_rank            0
loser_rank             0
winner_rank_points     0
loser_rank_points      0
dtype: int64

## Second column filter to keep only the essentials

In [314]:
df=df[['tourney_name','surface','round','winner_id','winner_hand','winner_ht','winner_age','winner_rank','winner_rank_points',
    'loser_id','loser_hand','loser_ht','loser_age','loser_rank','loser_rank_points']]

## Creation of 2 dataframes : one for victories and one for losses

By doing this, I duplicate my number of columns and put myself in a player versus opponent perspective. Each match will be interpreted from the winner's point of view as a victory and then from the loser's point of view as a defeat.

In [315]:
df_winner = df.copy()
df_loser = df.copy()

In [316]:
df.columns

Index(['tourney_name', 'surface', 'round', 'winner_id', 'winner_hand',
       'winner_ht', 'winner_age', 'winner_rank', 'winner_rank_points',
       'loser_id', 'loser_hand', 'loser_ht', 'loser_age', 'loser_rank',
       'loser_rank_points'],
      dtype='object')

### Rename columns to have one player and his opponent

In [317]:
df_winner=df_winner.rename(columns={'winner_id':'Player','winner_hand':'Player_Hand','winner_ht':'Player_Height',
                         'winner_age':'Player_Age','winner_rank':'Player_Rank','winner_rank_points':'Player_Rank_Points',
                        'loser_id':'Opponent','loser_hand':'Opponent_Hand',
                          'loser_ht':'Opponent_Height','loser_age':'Opponent_Age','loser_rank':'Opponent_Rank',
                            'loser_rank_points':'Opponent_Rank_Points'})

#### Players here are the winners so Result=1

In [318]:
df_winner['Result']=1

### Rename columns to have one player and his opponent

In [319]:
df_loser=df_loser.rename(columns={'loser_id':'Player','loser_hand':'Player_Hand','loser_ht':'Player_Height',
                         'loser_age':'Player_Age','loser_rank':'Player_Rank','loser_rank_points':'Player_Rank_Points'
                                  ,'winner_id':'Opponent','winner_hand':'Opponent_Hand',
                          'winner_ht':'Opponent_Height','winner_age':'Opponent_Age','winner_rank':'Opponent_Rank','winner_rank_points':'Opponent_Rank_Points'})

#### Players here are the losers so Result=0

In [320]:
df_loser['Result']=0

In [321]:
df_winner

,tourney_name,surface,round,Player,Player_Hand,Player_Height,Player_Age,Player_Rank,Player_Rank_Points,Opponent,Opponent_Hand,Opponent_Height,Opponent_Age,Opponent_Rank,Opponent_Rank_Points,Result
0,Brisbane,Hard,F,105453,R,178.0,29.0,9.0,3590.0,106421,R,198.0,22.8,16.0,1977.0,1
1,Brisbane,Hard,SF,106421,R,198.0,22.8,16.0,1977.0,104542,R,188.0,33.7,239.0,200.0,1
2,Brisbane,Hard,SF,105453,R,178.0,29.0,9.0,3590.0,104871,R,188.0,31.8,40.0,1050.0,1
3,Brisbane,Hard,QF,104542,R,188.0,33.7,239.0,200.0,200282,R,183.0,19.8,31.0,1298.0,1
4,Brisbane,Hard,QF,106421,R,198.0,22.8,16.0,1977.0,105683,R,196.0,28.0,18.0,1855.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191915,Tour Finals,Hard,SF,104925,R,188.0,27.4,1.0,10010.0,105453,R,178.0,24.8,5.0,4625.0,1
191916,Tour Finals,Hard,F,104925,R,188.0,27.4,1.0,10010.0,103819,R,185.0,33.2,2.0,8700.0,1
191917,Davis Cup,Clay,RR,104527,R,183.0,29.6,4.0,5295.0,104542,R,188.0,29.5,12.0,2740.0,1
191918,Davis Cup,Clay,RR,104792,R,193.0,28.2,19.0,1825.0,103819,R,185.0,33.2,2.0,9700.0,1
191919,Davis Cup,Clay,RR,103819,R,185.0,33.2,2.0,9700.0,104755,R,185.0,28.4,26.0,1350.0,1

In [322]:
df_loser=df_loser[['tourney_name','surface','round','Player','Player_Hand','Player_Height','Player_Age','Player_Rank','Player_Rank_Points','Opponent','Opponent_Hand','Opponent_Height','Opponent_Age','Opponent_Rank','Opponent_Rank_Points','Result']]

In [323]:
df_loser

,tourney_name,surface,round,Player,Player_Hand,Player_Height,Player_Age,Player_Rank,Player_Rank_Points,Opponent,Opponent_Hand,Opponent_Height,Opponent_Age,Opponent_Rank,Opponent_Rank_Points,Result
0,Brisbane,Hard,F,106421,R,198.0,22.8,16.0,1977.0,105453,R,178.0,29.0,9.0,3590.0,0
1,Brisbane,Hard,SF,104542,R,188.0,33.7,239.0,200.0,106421,R,198.0,22.8,16.0,1977.0,0
2,Brisbane,Hard,SF,104871,R,188.0,31.8,40.0,1050.0,105453,R,178.0,29.0,9.0,3590.0,0
3,Brisbane,Hard,QF,200282,R,183.0,19.8,31.0,1298.0,104542,R,188.0,33.7,239.0,200.0,0
4,Brisbane,Hard,QF,105683,R,196.0,28.0,18.0,1855.0,106421,R,198.0,22.8,16.0,1977.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191915,Tour Finals,Hard,SF,105453,R,178.0,24.8,5.0,4625.0,104925,R,188.0,27.4,1.0,10010.0,0
191916,Tour Finals,Hard,F,103819,R,185.0,33.2,2.0,8700.0,104925,R,188.0,27.4,1.0,10010.0,0
191917,Davis Cup,Clay,RR,104542,R,188.0,29.5,12.0,2740.0,104527,R,183.0,29.6,4.0,5295.0,0
191918,Davis Cup,Clay,RR,103819,R,185.0,33.2,2.0,9700.0,104792,R,193.0,28.2,19.0,1825.0,0
191919,Davis Cup,Clay,RR,104755,R,185.0,28.4,26.0,1350.0,103819,R,185.0,33.2,2.0,9700.0,0

## Concat to get the final dataframe

In [324]:
df=pd.concat([df_winner,df_loser])

### Instead of leaving two columns for the same feature, create a differential.

In [325]:
df['Hand_Opposition'] = df['Player_Hand'] + ' vs ' + df['Opponent_Hand']

In [326]:
df['Height_Differential'] = df['Player_Height']-df['Opponent_Height']

In [327]:
df['Age_Difference'] = df['Player_Age']-df['Opponent_Age']

In [328]:
df['Rank_Differential'] = df['Player_Rank']-df['Opponent_Rank']

In [329]:
df['Ranking_Points_Differential'] = df['Player_Rank_Points']-df['Opponent_Rank_Points']

In [330]:
df=df[['tourney_name','surface','Player','Opponent','Hand_Opposition','Height_Differential','Age_Difference','Rank_Differential','Ranking_Points_Differential','Result']]

In [331]:
df.to_csv('df.csv')

## Players reprocessing

### Sélection des joueurs présents dans top500

#### Add Full Name

In [32]:
players['Name'] = players['name_first'] + ' ' + players['name_last']

#### Keep only the players in the ATP Top 500 beginning of 2024

In [167]:
players = players[players['Name'].isin(top500['Player'])]

In [171]:
players=players.rename(columns={'Name':'Player'})

### Get full data : Players characteristics and Rankings from ATP

In [172]:
full_data=pd.merge(players,top500,on='Player',how='left')

In [174]:
full_data.to_csv('players_information.csv')

### Encodage des variables textuelles devant avoir les mêmes valeurs entre colonnes

In [ ]:
# Créer un ensemble de tous les ID uniques
unique_ids = set(df['Player_1_id']).union(set(df['Player_2_id'])).union(set(df['Winner']))

# Créer un dictionnaire pour mapper chaque ID unique à un nombre unique
id_to_number = {id_: i for i, id_ in enumerate(unique_ids)}

# Remplacer les valeurs des colonnes Player_1_id, Player_2_id et Winner par les nombres correspondants
df['Player_1_id'] = df['Player_1_id'].map(id_to_number)
df['Player_2_id'] = df['Player_2_id'].map(id_to_number)
df['Winner'] = df['Winner'].map(id_to_number)

In [435]:
numeric = ['Height_Differential','Age_Difference', 'Ranking_Gap', 'Ranking_Points_Difference']
string = ['tourney_name','surface','Hand_Opposition']

In [436]:
for col in df.columns:
    if col in numeric:
        # Standardisation des données numériques
        scaler = StandardScaler()
        df[col] = scaler.fit_transform(df[[col]])
    elif col in string:
        # Encodage des données de chaîne
        encoder = LabelEncoder()
        df[col] = encoder.fit_transform(df[col])

### Remise en forme de Winner

In [452]:
df['Winner'] = df['Winner'].replace({29: 0, 378: 1})

## Récupération de df

In [453]:
df

,tourney_name,surface,Player_1_id,Player_2_id,Hand_Opposition,Height_Differential,Age_Difference,Ranking_Gap,Ranking_Points_Difference,Winner
0,51,3,1724,1926,8,-2.284599,1.221184,-0.048692,-0.048692,0
8,1857,2,823,818,8,1.424725,-0.023975,-0.209432,-0.209432,0
11,1789,3,205,537,8,-0.539035,0.948806,0.031678,0.031678,0
13,55,3,907,130,4,-0.539035,-1.911170,-0.136369,-0.136369,1
14,1790,1,159,17,8,0.006454,-0.471454,0.228950,0.228950,0
...,...,...,...,...,...,...,...,...,...,...
210737,1857,1,221,986,8,1.097432,1.765942,-0.172901,-0.172901,0
210738,1886,3,1995,259,8,1.642921,-0.004520,-0.245964,-0.245964,0
210739,1876,3,2023,1812,8,-0.539035,-0.413088,-0.516300,-0.516300,1
210740,17,3,626,771,8,0.551943,0.267859,-1.363840,-1.363840,0
210741,1789,3,893,912,8,0.551943,0.034392,0.404303,0.404303,0

In [454]:
data = df.copy()

In [455]:
data.to_csv('data.csv')

In [456]:
df = data

In [4]:
os.system('jupyter nbconvert --to html Pre-processing.ipynb')

[NbConvertApp] Converting notebook Pre-processing.ipynb to html
[NbConvertApp] Writing 460288 bytes to Pre-processing.html

0